.wrapper
  padding: 90px 0 60px

  .articles
    .loadMore
      padding: 40px

  article
    width: 690px
    margin: 0 auto
    padding: 60px 0 40px

    p
      font-size: 1.325em
      line-height: 1.6em

    .byline
      margin-top: 60px
      opacity: 0.6

      p
        font-size: 1.125em
        line-height: 1.4em


