.docs.container
  padding: 130px 50px 50px 340px
  position: relative
  max-width: 750px

  h2
    font-size: 2.188em
    font-weight: 400
    color: $darker
    margin-bottom: 25px

    & + p
      font-size: 1.250em

  h3
    color: $darker
    font-size: 1.250em
    font-weight: 600

  p
    font-size: 1.125em
    font-weight: 300