.docs.container
  padding: 130px 50px 50px 340px
  position: relative
  max-width: 750px
  font-size: 1.125em
  font-weight: 300

  h2
    font-size: 1.9em
    margin: 30px 0 15px
    font-weight: 600
    color: $darker

  h3
    color: $darker
    font-size: 1.250em
    font-weight: 600