.menu
  position: fixed
  background: white
  width: 100%
  padding: 0 20px
  height: 90px
  box-sizing:border-box
  box-shadow: 0 1px 2px rgba(black,0.07)
  z-index: 2

  h1
    font-size: 50px
    margin-top: 15px
    float:left

    a
      color:$accent
      font-weight: 300

  .callToActions
    float:right
    margin:22px 0 0 0

    a
      font-size: 1em
      padding: 8px 30px
      margin-left: 10px