.sidebar
  height: 100%
  position: fixed
  width: 290px
  background: #eaeaea
  top: 0
  left: 0
  overflow: scroll
  z-index: 1

  .sidebar-container
    padding: 130px 0 0 30px

    li
      font-size: 20px
      font-weight: 300
      margin: 0 0 20px 0
      display: block

