.sidebar
  position: fixed
  box-sizing:border-box
  width: 290px
  background: #eaeaea
  top: 90px
  left: 0
  bottom:0
  overflow: auto
  z-index: 1
  padding:10px 20px

  .sidebar-container

    li
      font-size: 20px
      font-weight: 300
      padding: 10px 0

      &.active
        a
          color: $accent