<div class="callToActions">
  <a href="https://github.com/adamrenklint/asimovjs.org" class="button hidden outline">Get Started</a>
  <a href="/docs" class="button hidden">Docs</a>
  <a href="https://github.com/adamrenklint/asimov.js" class="button outline">Coming Soon</a>
</div>