  <div class="footer">
    Made by ♥ by {{link "http://adamrenklint.com" "Adam Renklint"}}, Berlin 2014
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18822343-4', 'asimovjs.org');
  ga('send', 'pageview');
</script>

</body>
</html>