{{style "main"}}

<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{{title}}</title>
</head>
<body>

  <div class="sidebar">


    {{#link "/" title="asimov.js"}}
      <div class="logo {{active "/" "active"}}">
        <h1>▲ asimov.js</h1>
      </div>
    {{/link}}

    <ul class="menu">
      {{#children "/"}}
        <li class={{active this.url "active"}}>{{link this.url this.title}}</li>
      {{/children}}
    </ul>

    <div class="sidebar-footer">
      by {{link "http://adamrenklint.com" "adam renklint" target="blank"}}
    </div>
  </div>

  <div class="content">