{{import "header"}}

<div class="wrapper center">
  <h1 class="logo">
    <strong>asimov</strong>.js
  </h1>
  <p class="content smaller">{{text}}</p>
  <div class="terminal">
    <div class="header"></div>
    <div class="terminalContent">
      <p>$ asimov create myAwesomeProject</p>
      <p>$ cd myAwesomeProject</p>
      <p>$ npm install</p>
    </div>
  </div>
  {{import "calltoaction"}}
</div>

{{import "footer"}}

