<nav class="menu">
  <h1 class="logo">
    <a href="/docs"><strong>asimov</strong>.js</a>
  </h1>
  <div class="callToActions">
    <a href="/" class="button outline">Home</a>
    <a href="/blog" class="button">Blog</a>
  </div>
</nav>