{{style "docs"}}

{{import "header"}}
{{import "menu"}}
{{import "sidebar"}}

<div class="docs container">
  <h1>{{title}}</h2>
  {{text}}

  {{#if page.children}}
    asd
  {{/if}}
</div>

{{import "footer"}}