{{style "docs"}}

{{import "header"}}
{{import "menu"}}
{{import "sidebar"}}

<div class="docs container">
  <h1>{{title}}</h2>
  {{text}}

  {{#unless page.hidechildren}}
    {{#haschildren}}
      <h2>Read more about {{page.title}}</h2>
      <ul class="docs-children">
        {{#children}}
          <li>
            <h3>{{link this.url this.title}}</h3>
            {{this.summary}} {{link this.url "Read more..."}}
          </li>
        {{/children}}
      </ul>
    {{/haschildren}}
  {{/unless}}

</div>

{{import "footer"}}