{{style "docs"}}

{{import "header"}}
{{import "menu"}}
{{import "sidebar"}}

<div class="docs container">
  <h1>{{title}}</h2>
  {{text}}

  {{#unless page.hidechildren}}
    {{#haschildren}}
      <!-- <h2>Read more about {{page.childheadline}}</h2> -->
      <ul class="docs-children">
        {{#children}}
          <li>
            <h2>
              {{#unless this.nolink}}
                {{link this.url this.title}}
              {{/unless}}
              {{#if this.nolink}}
                {{this.title}}
              {{/if}}
            </h2>
            {{#if this.summary}}
              {{this.summary}} {{#unless this.nolink}}{{link this.url "Read more..."}}{{/unless}}
            {{/if}}
          </li>
        {{/children}}
      </ul>
    {{/haschildren}}
  {{/unless}}

</div>

{{import "footer"}}