{{import "header"}}
{{import "menu"}}
<div class="wrapper">
  <article class="article container">
    <h1>{{title}}</h2>
    {{text}}
    <div class="byline">
      <p>My name is Adam Renklint and I wrote this amazing blog post that just blew your mind; you're welcome.  this post bitch!</p>
    </div>
  </article>
</div>

{{import "footer"}}