<div class="sidebar">
  <ul class="sidebar-container">
    <li>Introduction</li>
    <li>Content</li>
    <li>The Server Application</li>
    <li>Templates</li>
    <li>Helpers</li>
    <li>Stylesheets</li>
    <li>Scripts &amp; Bundles</li>
    <li>Application Components</li>
    <li>Multiple Languages</li>
    <li>Middleware</li>
    <li>Initializers</li>
    <li>Plugins</li>
    <li>Themes</li>
    <li>Grides &amp; Examples</li>
    <li>Changelog</li>
  </ul>
</div>